.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #002f55;
}

.header-title {
  font-size: 25px;
  font-weight: 600;
}

.header-links {
  display: flex;
  gap: 25px;
}

.header-links__item {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}